.bg-white {
    background-color: #FFFFFF;
  }
  
  .bg-grayLight {
    background-color: #E5E5E5;
  }
  .bg-purple-primary{
    color:#510DBC
  }
  
  .text-blue {
    color: #0987E7;
  }
  
  .text-purple {
    color: #510DBC;
  }
  
  .text-navy {
    color: #00338D;
  }
  .text-white {
    color: #FFFFFF;
  }
  
  .text-grayLight {
    color: #E5E5E5;
  }
  
  .text-blue {
    color: #0987E7;
  }
  
  .text-purple {
    color: #510DBC;
  }
  
  .text-navy {
    color: #00338D;
  }
    